<%- include('../includes/head.ejs') %>
</head>


  <%- include('../includes/nav-left.ejs') %>

  <h2>Session data</h2>

  <%- include('../includes/nav-right.ejs') %>
  <%- include('../includes/end.ejs') %>