</div>

<div class="right-nav">
  <% if(level && level > 0) {%>
  <form action="/search" method="POST">
      <input type="text" name="engine" id="engine">
    <button class="btn" type="submit">Wyślij</button>
  </form>
  <% } %>
  <br>

  <% if(level && level > 0) {%> 
      <a href="/logout">Wyloguj sie</a>
      <br>
      <!-- <a href="/login">Zaloguj sie</a> -->
  <% } else { %>
      <a href="/login">Zaloguj sie</a>
      <br>
      <a href="/register">Zarejestruj sie</a>
  <% } %>
</div>


