<body>
  <div class="logo">
    <h1>LOGO</h1>
  </div>

  <div class="left-nav">
    <ul class="list-left-nav">
      <li>
        <a href="/">Strona Główna</a>
      </li>
      <% if(level && level > 0) {%>
      <li>
        <a href="/form">Formularz</a>
      </li>
      <li>
        <a href="/session">Zawartość sesji</a>
      </li>

      <li>
        <a href="/get-workers">Baza pracowników</a>
      </li>
      <% } %> <% if(level && level > 1) {%>
      <li>
        <a href="/get-workers-edit">Edytuj bazę pracowników</a>
      </li>
      <% } %> <% if(level && level > 2) {%>
      <li>
        <a href="/get-workers-delete">Usuń pracownika</a>
      </li>
      <% } %> <% if(level && level > 0) { %>
      <br />
      <br />
      <li>
        <a href="/change-data">Zmień dane</a>
      </li>
      <% } %> <% if(level && level > 3) {%>
      <li>
        <a href="/change-level">Zmień poziom dostępu</a>
      </li>
      <% } %> <% if(level && level > 3) {%>
      <li>
        <a href="/delete-user">Usuń użytkownika</a>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="main">