apiKey=api_key
authDomain=dziekanatbooster.firebaseapp.com
databaseURL=https://dziekanatbooster.firebaseio.com
projectId=dziekanatbooster
storageBucket=dziekanatbooster.appspot.com
messagingSenderId=sender_id
appId=app_id


