
extends layout

block content

  .main
    .logo
      a
        img.logo(src='logo.PNG.png', alt='DBooster logo')
    .ikona-numerka
      p.ikona Ikona numerka
    .kolejka
      p.kolej 11 12 Kolejka...
    .Zarzadzaj
      p.zarz Zarz&aogon;dzaj
    .wyloguj
      a(href='/signOut')
        p.log Wyloguj
