doctype html
html(lang="pl")
  head
  link(rel="stylesheet" href="../css/main.css")
  link(href='https://fonts.googleapis.com/css?family=Lora&display=swap' rel='stylesheet')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  body()
    .mp-container
      img.logo(src='../images/logo.png' alt='DBooster logo')
      block content

    script(src='/dist/App.bundle.js')
