extends layout

block content
  .mp-container
  if message
        h2.errorMessage #{message}
  .mp-form-container   
    .mp-form__header
      h1 Log in
    form.mp-form(method='POST')
      .mp-form__input-container
        .mp-form__input-container--icon
          img(src='images/userlogo.png' width='24px')
        input.mp-form__input-container--field(type='email' name='email' placeholder='Index@email' required='')
      .mp-form__input-container
        .mp-form__input-container--icon
          img(src='images/keylogo.png' width='24px')
        input.mp-form__input-container--field(type='password' name='password' placeholder='Password' required='')
      button.btn.mp-button.mp-form__input--submit(type='submit') Sign in
    .no-account-container
      a.no-account-container__message(href='register') Don&apos;t have an account?
  .mp-footer
    img.mp-footer__logo(src='images/zutlogo.png' alt='zut logo')
    h4.mp-footer__text
    h4.mp-footer__text1  


